<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LMS Account Activation</title>
</head>
<body>
  <div>
    <h1>Hello <%= user.name %>,</h1>
    <p>Welcome to our platform! To activate your account, please click on the activation link below:</p>
    <p><a href="<%=activationCode %>">Activate Your Account</a></p>
    <p>If the button above doesn't work, you can also copy and paste the following link into your browser:</p>
    
    <p>Thank you for joining us!</p>
    <p>- The Team</p>
  </div>
</body>
</html>
